<?xml version="1.0"?>
<log4net>
  <!-- Define some output appenders -->
  <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
  </appender>
  <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
  </appender>
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <param name="File" value="c:\\Logs\\log.txt"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="AppCache" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="Logs\\log.txt" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy.MM.dd" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="AppCache" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="AppCacheAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="c:\\Logs\\ApplicationCache.log" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy.MM.dd" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%3t] %m%n" />
    </layout>
  </appender>
  <appender name="IDConflictsAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="c:\\Logs\\IDConflicts.log" />
    <param name="AppendToFile" value="false" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="yyyy.MM.dd-HH" />
    <param name="maxSizeRollbackups" value="-1" />
    <param name="maximumFileSize" value="1MB" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %level%n %logger%n [%3t]%n %m%n %exception" />
    </layout>
  </appender>
  <appender name="ASPCustomerAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="c:\\Logs\\ASPCustomer.log" />
    <param name="AppendToFile" value="false" /> <!-- don't overwrite files -->
    <param name="RollingStyle" value="Composite" /> <!-- filenames will be extended with datetime and number -->
    <param name="DatePattern" value="yyyy.MM.dd-HH" /> <!-- roll the file date every hour -->
    <param name="maxSizeRollbackups" value="-1" />
    <param name="maximumFileSize" value="1MB" />
    <param name="CountDirection" value="1" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %level%n %logger%n [%3t]%n [%property{NDC}]%n [%property{tenant}]%n %m%n %exception%n" />
    </layout>
  </appender>
  <appender name="ASPCustXMLAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="c:\\Logs\\AppServer.frslog" />
    <param name="AppendToFile" value="false" />
    <!-- don't overwrite files -->
    <param name="RollingStyle" value="Composite" />
    <!-- filenames will be extended with date-hour and number -->
    <!-- roll the file date every hour, will change to every minute when widely used -->
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="maxSizeRollbackups" value="-1" />
    <param name="maximumFileSize" value="1MB" />
    <param name="CountDirection" value="1" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.XMLLayout,log4net">
          <param name="ConversionPattern" value="%d %level%n %logger%n [%property{LogEntryId}]%n [%property{tenant}]%n 
                 [%property{LoginId}]%n [%property{CurrentRole}]%n [%property{SessionId}]%n [%property{SubsystemId}]%n 
                 [%property{ClientIPAddress}]%n [%property{ServiceName}]%n %m%n %exception%n" />
	  </layout>
    <!-- 
    whitelist loggers - FrontRangeSaaS and SaaS.WebUI.Global
    blacklist all others 
    filters are executed in sequence
    -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="FrontRangeSaaS" />
      <acceptOnMatch value="true" />  <!-- not really needed since this is the default -->
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="SaaS.WebUI.Global" />
      <acceptOnMatch value="true" />      <!-- not really needed since this is the default -->
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
	  <loggerToMatch value="SaaS.WebUI.Services.MultiInstanceManager" />
	</filter>
	<!-- Uncomment to prevent mobile error reports to appear in log
    <filter type="log4net.Filter.PropertyFilter">
      <Key value="SubsystemId" />
      <StringToMatch value="ASMobile" />
      <acceptOnMatch value="false" />
    </filter> -->
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="ASPCustXMLAppenderToDiskOnly" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="c:\\Logs\\AppServer.frsDiskLog" />
    <param name="AppendToFile" value="false" />
    <!-- don't overwrite files -->
    <param name="RollingStyle" value="Composite" />
    <!-- filenames will be extended with date-hour and number -->
    <!-- roll the file date every hour, will change to every minute when widely used -->
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="maxSizeRollbackups" value="-1" />
    <param name="maximumFileSize" value="1MB" />
    <param name="CountDirection" value="1" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.XMLLayout,log4net">
      <param name="ConversionPattern" value="%d %level%n %logger%n [%property{LogEntryId}]%n [%property{tenant}]%n 
                 [%property{LoginId}]%n [%property{CurrentRole}]%n [%property{SessionId}]%n [%property{SubsystemId}]%n 
                 [%property{ClientIPAddress}]%n [%property{ServiceName}]%n %m%n %exception%n" />
    </layout>
    <!-- 
    whitelist loggers - FrontRangeSaaS and SaaS.WebUI.Global
    blacklist all others 
    filters are executed in sequence
    -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="FrontRangeSaaS" />
      <acceptOnMatch value="true" />
      <!-- not really needed since this is the default -->
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="SaaS.WebUI.Global" />
      <acceptOnMatch value="true" />
      <!-- not really needed since this is the default -->
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="HttpAppender" type="log4net.Appender.HttpAppender, log4netHttpAppender" >
    <url value="http://xxxx/LogListener/LogListener.ashx" />
  </appender>
  <appender name="GBUAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="c:\\Logs\\gbu.log" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Size" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="MaximumFileSize" value="1MB" />
    <param name="StaticLogFileName" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Log entry]&#13;&#10;" />
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="SaaS.WebUI.AdminUI.handlers.GenericBulkUpload" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="SaaS.WebUI.Services.GenericBulkUpload" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="SaaS.WebUI.src.GenericBulkUploadController" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!-- Setup the root category, add the appenders and set the default priority -->
  <root>
    <level value="ALL" />
    <!--
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="HttpAppender" />
    <appender-ref ref="ASPCustomerAppender" /> 
    -->
    <appender-ref ref="ASPCustXMLAppender" />
    <appender-ref ref="GBUAppender" />
    <!--<appender-ref ref="ASPCustXMLAppenderToDiskOnly" />-->
  </root>
  <!--
  <logger name="AppCache">
    <level value="OFF" />
    <appender-ref ref="AppCacheAppender" />
  </logger>
  <logger name="IDConflicts">
    <level value="OFF" />
    <appender-ref ref="IDConflictsAppender" />
  </logger>
  <logger name="ASPCustomerApp">
    <level value="OFF" />
    <appender-ref ref="ASPCustomerAppender" />
  </logger>
  -->
</log4net>
